# do not check in env .local files, do not commit secrets
/env/*AUE
/env/*EUW
/env/*USE

#Playwright
/test-results/
/tests-examples/
/tests/coverage-report
playwright-report
/playwright-report/
/screenshots/


# Defaults
node_modules/
.local-browsers/
/.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
.idea
yarn.lock
/packages/playwright-core/src/generated/*
packages/*/lib/
drivers/
.android-sdk/
.gradle/
nohup.out
.trace
.tmp
allure*
blob-report
*.png

/demo/
/packages/*/LICENSE
/packages/*/NOTICE
/packages/playwright/README.md
/packages/playwright-test/README.md
/packages/playwright-core/api.json
.env
/tests/installation/output/
/tests/installation/.registry.json
.cache/
.eslintcache
/blob-report/
/playwright/.cache/
/log/

